.img-detail{
width: 70%;
height: 70%;
max-width: 1000px;
}

.div-contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 700px;
    margin: auto;
    margin-top: 30px;

}
.item-detail{
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    background-color: white;
    justify-content: center; 
    text-align: center;   
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: auto;
    padding: 30px;
    gap: 1px;
}

.nombre-detail{
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.precio-detail{
    font-size: 1.7rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.3rem;
    margin-top: 1rem;

}
.id-detail{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}
